<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
				<key>dateExpires</key>
				<string>2/16/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>google_api_availability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>254CB28A74B3E728627BC7EB61E823BDE73A5A77</string>
						<key>dateExpires</key>
						<string>2/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HYUDPL4PU5</string>
						<key>name</key>
						<string>Sam Parks</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HYUDPL4PU5.com.example.cortadoApp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HYUDPL4PU5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e0122517-be56-4f78-95dd-074a4d45a164</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.cortadoApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HYUDPL4PU5</string>
				<key>name</key>
				<string>Sam Parks</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
